.root-pane {
    -fx-background-color: #050505;
}

.main-card {
    -fx-background-color: #0c120f;
    -fx-background-radius: 20;
    -fx-overflow: hidden;
}

/* Pane bên trái màu xanh gradient */
.left-pane {
    -fx-background-color: linear-gradient(to bottom right, #1a3c2a, #0d2116);
    -fx-background-radius: 20 0 0 20;
}

.right-pane {
    -fx-background-radius: 0 20 20 0;
}

/* Text Styles */
.title-text {
    -fx-text-fill: white;
    -fx-font-size: 32px;
    -fx-font-family: "Georgia";
}


.subtitle-text {
    -fx-text-fill: #666666;
    -fx-font-size: 14px;
}

.input-label {
    -fx-text-fill: #888888;
    -fx-font-size: 13px;
}

/* Input Fields */
.input-field {
    -fx-background-color: #161d1a;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-border-color: #252d29;
    -fx-border-radius: 8;
    -fx-padding: 12;
}

.input-field:focused {
    -fx-border-color: #2b6b4c;
}

/* Forgot Link */
.forgot-link {
    -fx-text-fill: #555555;
    -fx-underline: false;
    -fx-background-color: none;
    -fx-cursor: hand;
}

.forgot-link:hover{
    -fx-cursor: hand;
}

/* Button Sign In */
.btn-primary {
    -fx-background-color: linear-gradient(to right, #2b6b4c, #1a3c2a);
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12;
    -fx-cursor: hand;
}

.btn-primary:hover {
    -fx-opacity: 0.9;
}

.eye-icon-btn {
    -fx-background-color: transparent;
    -fx-padding: 0 15 0 0;
}