.sidebar {
    -fx-background-color: #0c120f;
    -fx-border-color: #1a221e;
    -fx-border-width: 0 1px 0 0;
}

.side-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #777777;
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 15px;
    -fx-padding: 12 18;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.side-btn:hover {
    -fx-background-color: #1a221e;
    -fx-text-fill: #ffffff;
}

.side-btn-active {
    -fx-background-color: #1a3327;
    -fx-text-fill: #ffffff;
}

.user-footer {
    -fx-padding: 20 0 0 0;
    -fx-border-color: #1a221e;
    -fx-border-width: 1px 0 0 0;
}

.user-label {
    -fx-text-fill: #e0e0e0;
    -fx-font-size: 16px;
    -fx-font-weight: 500;
}

.logout-btn {
    -fx-background-color: #331a1a; /* nền tím đậm */
    -fx-text-fill: red;
    -fx-font-weight: bold;

    -fx-background-radius: 10;
    -fx-border-radius: 10; /* viền tím */

    -fx-padding: 6 14 6 14;

    -fx-content-display: right; /* icon sang phải */
    -fx-graphic-text-gap: 8; /* khoảng cách icon */
}

.logout-btn:hover {
    -fx-cursor: hand;
}
